.formSwitch {
  color: hsl(0, 0%, 72%);
  text-decoration: none;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formSwitch:hover {
  color: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(20, 20, 20);
}

#calculator {
  background-color: rgb(146, 146, 146);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

button {
  border-radius: 50px;
  border: none;
  color: white;
  background-color: hsl(0, 0%, 30%);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 360px) {
  #display {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
  }

  button {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  button:hover {
    background-color: hsl(0, 0%, 40%);
  }

  button:active {
    background-color: hsl(0, 0%, 50%);
  }

  .operator-btn {
    background-color: hsl(38, 100%, 50%);
  }

  .operator-btn:hover {
    background-color: hsl(38, 100%, 55%);
  }

  .operator-btn:active {
    background-color: hsl(38, 100%, 65%);
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}

@media only screen and (min-width: 449px) {
  #display {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
  }

  button {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  button:hover {
    background-color: hsl(0, 0%, 40%);
  }

  button:active {
    background-color: hsl(0, 0%, 50%);
  }

  .operator-btn {
    background-color: hsl(38, 100%, 50%);
  }

  .operator-btn:hover {
    background-color: hsl(38, 100%, 55%);
  }

  .operator-btn:active {
    background-color: hsl(38, 100%, 65%);
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}

@media only screen and (min-width: 768px) {
  #display {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
  }

  button {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  button:hover {
    background-color: hsl(0, 0%, 40%);
  }

  button:active {
    background-color: hsl(0, 0%, 50%);
  }

  .operator-btn {
    background-color: hsl(38, 100%, 50%);
  }

  .operator-btn:hover {
    background-color: hsl(38, 100%, 55%);
  }

  .operator-btn:active {
    background-color: hsl(38, 100%, 65%);
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}

@media only screen and (min-width: 1025px) {
  #display {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
  }

  button {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  button:hover {
    background-color: hsl(0, 0%, 40%);
  }

  button:active {
    background-color: hsl(0, 0%, 50%);
  }

  .operator-btn {
    background-color: hsl(38, 100%, 50%);
  }

  .operator-btn:hover {
    background-color: hsl(38, 100%, 55%);
  }

  .operator-btn:active {
    background-color: hsl(38, 100%, 65%);
  }

  #keys {
    gap: 10px;
    padding: 25px;
  }
}
